html,
body,
header,
footer,


* {
    font-family: "Open sans", Helvetica, Arial, sans-serif;
}

/* Whole site */

.background {
    background-color:rgb(230, 105, 182);
}

/* Keyboard */

.keyboard {

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.keyRow {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.key {
    margin-left: 2px;
    margin-right: 2px;

    padding-left:5px;
    padding-right: 5px;
    padding-top:5px;
    padding-bottom:5px;

    border-radius: 5px;
    border-width: 0px;

    width: 1.5em;
}


.key.clicked {
    background-color:rgb(100,102,103);
    color: white;
}

.key.unclicked {
    background-color: white;
    color: darkgrey;
    
}


/* Words */

.word {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
}


.letter {
    margin-left: 2px;
    margin-right: 2px;

    padding-left:5px;
    padding-right: 5px;
    padding-top:1px;
    padding-bottom:1px;

    border-radius: 5px;
    border-width: 0px;

    width: 1.75em;
    line-height: 2.5em;
    min-height: 2.5em;
}

.letter.answered {
    background-color:rgb(24, 141, 0);
    color: white;
}

.letter.unanswered {
    background-color:rgb(221, 244, 255);
    color: black;
}


/* Finish */

.finishbox {
    /* background-color: white; */
    color: white;
    text-align: center;
    border-radius: 5px;
}

.finishbox.hidden {
    display: none;
}